<aside>
    <ul>
        <li id="direccion">
            <h4>&#x2316; Dirección</h4>
            <p>Puerto Ayora - Calle Matazarnos 173 y Floreana.</p>
        </li>
        <li id="email">
            <h4>&#x2706; Teléfono</h4>
            <p>0998089880</p>
        </li>
        <li id="telefono">
            <h4>&#x2709; email</h4>
            <p>luisleninlio@gmail.com</p>
        </li>
    </ul>
</aside>