<section class="Descripcion">
    <img src="https://i.pinimg.com/originals/b1/eb/2e/b1eb2e23e19f46f3bc5e3b91e7d92ee2.jpg" alt="">
    <article>
        <header>
            <h2>A cerca de Nosotros</h2>
            <h1>The Super Book</h1>
        </header>
        <p>Este negocio se trata de venta de libtos de muchas clases y disponible para todas las edades, ademas de tener una varias muy exclusiva de libros siempre llegan nuevos libros y todavia se mantienen los clasicos y mas soliticados.Aquí puedes encontrar libros de ficción, narrativa histórica, novelas.
            <br>¡Somo todo lo que necesites en telefonía celular! </p>
        <button>MÁS INFORMACIÓN</button>
    </article>
</section>