<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="acces/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Courgette&family=Inconsolata&family=Josefin+Sans&family=Source+Code+Pro&display=swap" rel="stylesheet">
    <title>BOOK</title>
    
</head>
<body>
    <header class="Encabezado">
        <ul>
            <li>
                <h4>Bienvenidos a "The Super Book" </h4>
            </li>
            <li>
                <h2>EL CONOCIEMIENTO A TRAVEZ DE LETRAS</h2>
            </li>
        </ul>     
        <Button>Navegar</Button> 
    </header>